h1{
    color: white;
    margin: 20px 0px 0px 20px;
    text-align: left;
    font-family: Georgia, 'Times New Roman', Times, serif;
}


body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #33FF99;
    background-image: url("https://i.imgur.com/yNIaEFp.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.unclickable{
    pointer-events: none;
    color: red;
}

.indexTd{
    padding: 0;
}

.indexContainer{
    display: flex;
    margin: 0px 0px 0px 0px;
    flex-wrap: wrap;
    justify-content: space-between;
    /* old css for index */
    /* display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: space-around;
    margin: 0px 0px 0px -1225px; */
    /* margin: 0px 0px 0px -400px; */
}

.indexCard{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 200px;
    width: 20%;
    border: 4px double red;
    margin: 30px 20px;
    border-radius: 15px;
    box-shadow: 5px 5px 20px 20px cyan;
    background: royalblue;

}

.indexNumberWood{
    color: #33FF99;
    text-decoration: none;
    display: flex;
    margin: 0 auto;
    height: 15%;
}

.indexNumberWood:hover{
    color: crimson;
    text-decoration: underline dotted;
}



.wandInfo{
    display: flex;
    margin: 0 auto;
    height: 60%;
    flex-direction: column;
    align-items: flex-start;
    font-size: 16px;
}

.indexButtons{
    display: flex;
    justify-content: space-evenly;
    height: 25%;
    margin: 0;
    padding: 0px 30px 0px 0px;
}

#button{
    color: coral;
}

ul{
    list-style-type: none;
}

.navLi{
    font-size: 20px;
    color: chartreuse;
    margin: 0px 0px 0px 20px;
}

.navLi:link{
    text-decoration: none;
    color: #33FF99;
}

.navLi:hover{
    text-decoration: underline;
    color: crimson;
}

#backToInventory{
    margin: 0px 0px 0px 0px;
    color: yellow;
}

/* #indexHomeLink:link{
    text-decoration: none;
}

#indexAddNew:link{
    text-decoration: none;
}

#indexHomeLink:hover{
    text-decoration: underline;
    color: saddlebrown;
}

#indexAddNew:hover{
    text-decoration: underline;
    color: saddlebrown;
} */

#showContainer{
    font-size: 18px;
}

#showButton{
    color: coral;
    text-decoration: none;
}

.showButtonDiv{
    display: flex;
    width: 12%;
    justify-content: space-evenly;
}

#showImg{
        border: 4px dotted red;
        margin: 15px 20px;
        border-radius: 15px;
        animation-duration: 5s;
        animation-name: floatWand;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;
        animation-delay: 0s;
        alternate-direction: alternate;
        box-shadow: 5px 5px 20px 20px lightgreen;
    }
    
    @keyframes floatWand{
        0% {transform: translate(0, 0px); }
        50% {transform: translate(0, 12px); }
        100% {transform: translate(0, 0px); }   
    }

    .newText{
        font-size: 20px;
        color: #33FF99;
    }
    