<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ollivanders</title>
    <link rel="stylesheet" type="text/css" href="../css/styles.css">

</head>
<body>
        <div>
          <a href="/" class="mainPage">Ollivanders</a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="/">Home</a></li>
            <li><a href="/wands">Wands</a></li>
          </ul>
        </div>
      <h1>The Wands</h1>
      <!-- <% allWands.forEach(wand => {%>
        <div class="row">
            <div class="col s12 m5">
              <div class="card-panel teal">
                <h2 class="white-text center-align"><%=wand.title%></h2>
                <h4 class="white-text center-align"><%=wand.author%></h4>
                <span class="white-text"><%=wand.content%></span>
              </div>
            </div>
          </div>
        <% })%> -->
</body>
</html>